
/* modification bootstrap */
.green-text {
    /*color: #31de79 !important;*/
    color: #B7CD05 !important;
    /*color: #5CB02A !important;*/
}
.grey-text {
    color: #4B515D !important;
}


/* nav-bar */
.top-nav-collapse {
    /*background: linear-gradient(135deg, #fff 0%, #31de79 100%);*/
    background: linear-gradient(135deg, #fff 5%, #B7CD05 150%);
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}


@media (min-width: 768px) {
    html,
    body,
    header,
    #landing,
    #section {
        height: 100vh;
    }
    .landing-background {
        background-repeat: no-repeat;
        background-size: cover;
        /*background-position: center center;*/
        height: 100vh;
    }
    .header-content {
        position: absolute;
        top: calc(50vh - 200px);
        left: 0vw;
        z-index: 10;
        width: 100vw;
        height: 260px;
        background-color: rgba(255, 255, 255, 0.66);
    }
    .header-content-img {
        /*LOGO DE NATHALIE*/
        /*background-image: url(../img/logo/logo-landing-horizontal.svg);*/
        background-image: url(../img/logo/logo-landing-horizontal4.png);
        margin-right: 13%;  /*compensate to the left as img not well balance*/
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 1;
        width: 100vw; max-width: 1024px;
        height: 360px;
    }
    .header-feet {
        position: absolute;
        top: calc(50vh + 20px);
        left: 60vw;
        z-index: 20;
        width: 200px;
    }
    .header-h1 {
        font-size: 3.5rem;
        letter-spacing: 0.5rem;
    }
    .header-h3 {
        font-size: 1.5rem;
    }
    .header-h4 {
        font-size: 1.5rem;
        letter-spacing: 0.125rem;
        font-style: italic;
    }

    .text-footer-left {
        text-align: left;
    }
    .text-footer-right {
        text-align: right;
    }

    /* add bottom margin to latest element (img/text) when small screen flex*/
    .nlx-sc-md {
        padding-bottom: 2rem;
    }

}

@media (max-width: 767px) {
    html,
    body,
    header,
    #landing,
    #section {
        height: 100vh;
    }
    .landing-background {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        object-fit: cover;
    }
    .header-content {
        position: absolute;
        top: calc(50vh - 150px);
        left: 0vw;
        z-index: 10;
        width: 100vw;
        height: 300px;
        background-color: rgba(255, 255, 255, 0.66);
    }
    .header-content-img {
        /*LOGO DE NATHALIE*/
        background-image: url(../img/logo/logo-landing-vertical4.png);
        background-size: cover;
        background-position: center center;
        margin-top: 20px; /*leger recadrage du logo trop haut après ajout texte*/
        opacity: 1;
        width: 90vw;
        max-width: 300px;
        height: 100vh;
        max-height: 300px;
    }
    .header-feet {
        position: absolute;
        top: calc(50vh + 110px);
        left: calc(50vw + 100px);
        z-index: 20;
        width: 100px;
    }
    .header-h1 {
        font-size: 2.5rem;
    }
    .header-h3 {
        font-size: 1rem;
    }
    .header-h4 {
        font-size: 1.125rem;
        font-style: italic;
    }

    .text-footer-left {
        text-align: center;
    }
    .text-footer-right {
        text-align: center;
    }

    #footer-img {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    /* add bottom margin to latest element (img/text) when small screen flex*/
    .nlx-sc-md {
        padding-bottom: 2rem;
    }

}


/* normalize box dimension when hover logo */
.logo-size {
    max-width: 5rem;
    /* height: 5rem; */
}


/* contact panel */
.contact-content {
    height: 400px;
    /*background: linear-gradient(45deg, #fff9d1, #fff, #31de79);*/
    background: linear-gradient(150deg, #fff 25%, #B7CD05 150%);
}

/* Photo Nathalie */
.alias-nathalie {
    /* width: 10rem; */
    max-height: 12rem;
}




/* SCROLL DOWN BUTTON */

#scroll-down-button a {
    position: absolute;
    bottom: 2rem;
    z-index: 2;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #5CB02A;
    border-radius: 50px;
    box-sizing: border-box;
}

  #scroll-down-button a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #5CB02A;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
